extends ../layout.pug

block header
  header.hero.is-success.add-margin-top
    .hero-body
      .container
        p.title #{user.username}'s profile page
        p.subtitle Modify your data, connect with social media account and a lot more...

block content
  .section
    p Profile page
