
header.hero.is-warning.is-fullheight
  .hero-body
    .container
      p.title ShareThings
      p.subtitle Share your things and thoughts with others...
  
  .hero-foot.has-text-centered
    span#see-more.icon.animated.bounce.infinite
      i.fas.fa-5x.fa-angle-down
